<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.fullstack7.edusecond.edusecond.mapper.ProductMapper">
  <!--상품 조회, 등록, 수정, 삭제-->
  <!--위시리스트 조회, 추가, 삭제-->
  <!--주문 조회, 등록, 수정, 삭제-->
  <!--리뷰 조회, 등록, 수정, 삭제-->
</mapper>