<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.fullstack7.edusecond.edusecond.mapper.SellerMapper">

        <select id="selectProductInfo" resultType="net.fullstack7.edusecond.edusecond.dto.seller.SellerDTO">
                SELECT
                        m.userId AS sellerId,
                        m.userName AS sellerName,
                        m.userEmail AS sellerEmail,
                        p.productId,
                        p.productName,
                        p.productDesc,
                        p.price,
                        p.quantity,
                        p.quality,
                        p.productStatus,
                        p.viewCount,
                        pi.imagePath AS productImage,
                        pi.isMain AS isMainImage,
                        r.reviewId,
                        r.content AS reviewContent,
                        r.rating AS reviewRating,
                        r.regDate AS reviewDate,
                        r.writerId AS reviewWriterId
                FROM
                        tbl_product p
                                JOIN
                        tbl_member m ON p.sellerId = m.userId
                                LEFT JOIN
                        tbl_product_image pi ON p.productId = pi.productId
                                LEFT JOIN
                        tbl_order o ON o.productId = p.productId
                                LEFT JOIN
                        tbl_review r ON r.orderId = o.orderId
                WHERE
                        m.userId = #{sellerId}
                ORDER BY
                        p.productId, r.regDate DESC;
        </select>

        <select id="selectReviewInfo" resultType="net.fullstack7.edusecond.edusecond.dto.seller.ReviewDTO">
                SELECT r.*, p.productId, p.productName
                FROM tbl_review AS r
                             INNER JOIN tbl_order AS o ON r.orderId = o.orderId
                             INNER JOIN tbl_product AS p ON p.productId = o.productId
                WHERE p.sellerId = #{sellerId}
        </select>

        <select id="selectReviewStar" resultType="net.fullstack7.edusecond.edusecond.dto.seller.StarAvgDTO">
                SELECT  SUM(r.rating)/COUNT(r.rating) AS starAvg
                FROM tbl_review AS r
                             INNER JOIN tbl_order AS o ON r.orderId = o.orderId
                             INNER JOIN tbl_product AS p ON p.productId = o.productId
                WHERE p.sellerId = #{sellerId}
        </select>
</mapper>